<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.abumuhsin.udusmini_library">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <application
        android:requestLegacyExternalStorage="true"
        android:fullBackupContent="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity"
            android:label="Udus Handout"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/zip" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.profile_Activity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.FlipBooKActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SampleTheme">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.SEND" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="application/pdf" />-->
<!--            </intent-filter>-->
<!--            <intent-filter tools:ignore="AppLinkUrlError">-->
<!--                <action android:name="android.intent.action.VIEW" />-->

<!--                <category android:name="android.intent.category.DEFAULT" />-->

<!--                <data android:mimeType="application/pdf" />-->
<!--            </intent-filter>-->
        </activity>
        <activity
            android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat" />
        <activity android:name="com.example.amazing_picker.activities.Picker_Activity" />
        <activity
            android:name=".activities.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activities.Sign_Up_Activity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeOverlay" />
        <activity android:name=".activities.OnlineBookDetailsActivity" />
        <activity android:name=".activities.BookDiscussionActivity" />
        <activity android:name=".activities.MyPdfActivity"
            android:theme="@style/AppThemeOverlay"
            android:parentActivityName=".activities.MainActivity"
            android:label="My Pdf Books"
            />
        <activity android:name=".activities.MyGalleryActivity"
            android:theme="@style/AppThemeOverlay"
            android:parentActivityName=".activities.MainActivity"
            android:label="My Gallery Books"
            />
        <activity android:name=".activities.DiscussionActivity" />
        <activity android:name=".activities.FlipGalleryActivity"
            android:parentActivityName=".activities.MyGalleryActivity"
            android:theme="@style/SampleTheme"/>
        <activity android:name=".activities.FlipPdfActivity"
            android:parentActivityName=".activities.MyPdfActivity"
            android:theme="@style/SampleTheme">

            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
            </intent-filter>
        </activity>
        <activity android:name=".test.TestFlipBooKActivity"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/SampleTheme"/>
        <activity android:name=".test.TFlipGalleryActivity"
            android:parentActivityName=".activities.MyGalleryActivity"
            android:theme="@style/SampleTheme"/>
        <activity android:name=".test.TFlipPdfActivity"
            android:parentActivityName=".activities.MyPdfActivity"
            android:theme="@style/SampleTheme"/>

        <service
            android:name=".firebaseStuff.services.FirebaseMessageService"
            android:exported="false"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
    </application>

</manifest>